* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* permanent-marker-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Permanent Marker";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/permanent/permanent-marker-v16-latin-regular.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../../assets/fonts/permanentpermanent-marker-v16-latin-regular.ttf")
      format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

body {
  width: 100vw;
  background-color: #ffffff;
  margin: 0;
}

.nome_pagina {
  width: 100vw;
  background-color: #1e3e62;
  height: 120px;
}

.nome_pagina h1 {
  color: #ff8225;
  font-size: 4.827rem;
  text-align: center;
  padding: 0;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
  font-family: "Permanent Marker" !important;
  line-height: 120px;
}

.descrizione_container {
  width: 96vw;
  background-color: #eb5b00;
  display: block;
  margin: 28px;
  padding: 15px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}

.info_sistema {
  font-size: 2.197rem;
  text-align: center;
}

.descrizione_sistema_solare {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 1.2rem;
  align-self: flex-start;
  padding: 10px;
}

.container_wrapper {
  width: 100%;
  overflow: hidden; /* Previene problemi con float */
  min-width: 850px; /* Impedisce che gli elementi si accavallino */
}

.container_pianeti {
  width: calc(25% - 25px);
  float: left; /* Allinea gli elementi a sinistra */
  margin: 10px;
  height: 100%;
}

.container_pianeti h2 {
  background-color: #56021f;
  color: #00eaff;
  padding: 10px 0;
  font-size: 2rem;
  margin: 0;
  text-align: center;
  height: 50px;
}

/* Cambio colore solo se il cursore è sopra il div card_description */
.container_pianeti:hover h2 {
  background-color: #eb5b00;
  color: #000000; /* Cambia il colore di h2 quando il mouse è sopra card_description */
}

.card_description {
  background-color: #000014;
  color: #e0e0e0;
  padding: 5px;
  font-size: 1rem;
  min-height: 513px;
}

/* Clearfix migliorato per evitare problemi */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.info_pianeti {
  border-radius: 15px;
  background-color: #eb5b00;
  margin-top: 3px;
  text-align: center;
  color: #ffffff;
  font-size: 1.4rem;
}

.info_pianeti:hover span {
  cursor: pointer;
  color: #000000;
}

footer {
  width: 96vw;
  background-color: #eb5b00;
  display: block;
  margin: 28px;
  padding: 15px;
  border-radius: 15px;
  align-items: left;
  justify-content: center;
}
